<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physilab</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="PhysiLab Logo" class="logo">
            <h1>PhysiLab</h1>
        </div>
        <nav class="nav-links">
            <a href="{% url 'calc' %}">Calculator</a>
            <a href="{% url 'material' %}">Material</a>
            <a href="{% url 'landing_page' %}">Home</a>
        </nav>
    </header>

    <div class="bg-image-container">
        <img src="{% static 'images/bg1.png' %}" alt="Background" class="bg-image">
        <div class="cta-button-container">
            <a href="#" class="cta-btn">Start Learning!</a>
        </div>
    </div>

    <section id="courses-section" class="courses-section">
        <div class="course-card">
            <img src="{% static 'images/calc.png' %}" alt="Thermodynamics Virtual Lab Calculator">
            <h3>Thermodynamics Virtual Lab Calculator</h3>
            <a href="{% url 'calc' %}" class="join-btn">Calculate Now</a>
        </div>
        <div class="course-card">
            <img src="{% static 'images/exe.png' %}" alt="Thermodynamics Virtual Lab Exercise">
            <h3>Thermodynamics Virtual Lab Material</h3>
            <a href="{% url 'material' %}" class="join-btn">Learn Now</a>
        </div>
    </section>

    <script src="{% static 'js/landing.js' %}"></script>
</body>
</html>
