* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #87bba2;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

h1 {
    font-size: 20px;
    color: #f0f7ee;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 5px;
    align-items: center;
}

.nav-links a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    color: #f0f7ee;
    transition: color 0.3s;
    margin-right: 30px;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #f39c12;
}

.nav-links-mobile-only {
    display: none;
}



body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#87bba2, #f0f7ee);
    margin: 0;
    background-size: cover;
    min-height: 100vh;
}

.bg-image-container {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 98%;
    object-fit: cover;
}

.content-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    min-height: 100vh;
    position: relative;
    align-items: center;
}

.button-container {
    margin-top: 30px;
}

.btn-start {
    display: inline-block;
    padding: 15px 35px;
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-start:hover {
    background-color: #e67e22;
}

.cta-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.cta-btn {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 15px 40px;
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #e67e22;
}

.courses-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 100px;
    margin-bottom: 80px;
}

.course-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.course-card:hover {
    transform: translateY(-10px);
}

.course-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.course-card h3 {
    font-size: 16px;
    margin: 20px 0;
    color: #333;
}

.join-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.join-btn:hover {
    background-color: #e67e22;
}

.text-content {
    text-align: justify;
    flex: 1;
    padding: 80px;
    align-items: center;
}

.text-content h1 {
    font-size: 23px;
    color: #f39c12;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 14px;
    line-height: 1.6;
    color: #2c3e50;
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    margin-right: 30px;
    margin-top: 15px;
    text-align: right;
}

.image-content img {
    max-width: 100%;
    height: auto;
}

.lab-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.thermometer-container {
    margin-top: 30px;
    width: 20%;
    max-width: 250px;
    text-align: center;
}

.thermometer {
    width: 150px;
}

input[type="range"] {
    width: 150px;
    margin-top: 20px;
}

#suhuValue {
    margin-top: 0;
    font-size: 16px;
    color: #f39c12;
    font-weight: bold;
}

.below-header-text {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.form-container {
    width: 30%; /* Increase width */
    max-width: 400px; /* Allow for larger max width */
    background-color: #ffffff;
    padding: 20px; /* Increase padding for better spacing */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%; /* Fill the container width */
    padding: 15px; /* Increase padding for larger fields */
    margin: 15px 0; /* Adjust spacing between inputs */
    border-radius: 10px;
    border: 2px solid #f39c12;
    font-size: 16px; /* Increase font size */
}

button {
    width: 100%; /* Make button fill the width */
    padding: 15px; /* Increase padding */
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px; /* Increase font size */
}

button:hover {
    background-color: #e67e22;
}

.results-wrapper {
    width: 20%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.result-container {
    background-color: #f39c12;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: auto;
}

.result-container h3 {
    font-size: 16px;
}

.result-container p {
    margin-top: 20px;
    font-size: 12px;
}

.logo-text,
.logo-text-signup {
    margin-top: 60px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 400px; 
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #2c3e50;
}

input[type="text"], /* Untuk username */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid #f39c12;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #bfbfbf;
}

/* Tombol Signup */
.signup-btn {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signup-btn:hover {
    background-color: #e67e22;
}

.signup-option {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.signup-option a {
    color: #f39c12;
    text-decoration: none;
}

.signup-option a:hover {
    text-decoration: underline;
}

.below-header-text1 {
    background-color: #ffffff;
    font-size: 20px;
    padding: 40px;
    color: #e67e22;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.text-background {
    background-color: #e67e22;
    padding: 5px;
    border-radius: 20px;
    margin-top: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 40px;
}

.material-section {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.material-section p {
    font-size: 12px;
    line-height: 1.6;
    color: #ffffff;
    margin: 30px 40px;
    font-weight: 600;
}

.rumus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: auto;
    margin: 0 40px;
    border-radius: 20px;
    padding: 30px;
}

.rumus {
    width: 500px;
}

.example-problems-section {
    background-color: white;
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.example-problems-section h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0 40px;
}

.problem-container {
    gap: 30px;
    padding: 30px;
    background-color: #e67e22;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.problem {
    padding: 5px;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.answer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.answer {
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 120px;
}

.answer input[type="radio"] {
    display: none;
}

.answer label {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.answer input[type="radio"]:checked + label {
    background-color: #e67e22;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

#checkAnswerBtn {
    background-color: #e67e22;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 800px;
}

#checkAnswerBtn:hover {
    background-color: #d35400;
}

.profile-picture {
    width: 80px; /* Adjust size to your preference */
    height: 80px;
    margin: 0 auto 20px auto; /* Centers horizontally and adds space below */
    border-radius: 50%; /* Makes the image round */
    overflow: hidden; /* Ensures image fits within round border */
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f7ee;
}

.profile-card {
    background-color: #87bba2;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.profile-card img {
    display: block;
    width: 80px; /* Adjust size */
    height: 80px; /* Adjust size */
    border-radius: 50%;
    margin: 0 auto; /* Center image */
}

.btn-logout {
    background: #f39c12;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    color: #fff;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}

.btn-logout:hover {
    background-color: #d35400;
}

/* Styling the labels */
.profile-info label {
    color: #ffffff; /* Change this to your desired color */
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4px;
    margin-top: 4px;
    display: block;
}

.profile-info input[readonly] {
    color: #000000; /* Change this to your desired text color */
    background-color: #f7f7f7; /* Optional: change background color */
    border: #000000;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.messages-container {
    margin-top: 20px;
    padding: 10px;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.alert-error {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
    border: 1px solid #f5c6cb;
    font-weight: bold;
    font-size: 12px;
}

.alert-success {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    border: 1px solid #c3e6cb;
    font-weight: bold;
    font-size: 12px;
}

.alert-info {
    background-color: #d1ecf1; /* Light blue background */
    color: #0c5460; /* Dark blue text */
    border: 1px solid #bee5eb;
    font-weight: bold;
    font-size: 12px;
}

@media (max-width: 768px) {
    .header {
        align-items: center;
        text-align: center;
    }

    .content-container {
        flex-direction: column;
        padding: 10px;
    }

    .text-content {
        text-align: center;
    }

    .text-content h1 {
        font-size: 18px;
    }

    .text-content p {
        margin-top: 20px;
        font-size: 14px;
    }

    .image-content {
        padding: 10px;
        width: 50%;
        margin-left: 50px;
    }

    .btn-start {
        width: 80%;
        padding: 10px 20px;
        margin: 10px 0;
    }

    .lab-container {
        flex-direction: column;
        align-items: center;
    }

    .thermometer-container {
        margin-right: 40px;
        width: 150px;
    }

    #suhuValue {
        margin-bottom: 30px;
    }

    .input-container {
        margin-right: 30px;
    }

    .result-container {
        margin-top: 30px;
        width: 370px;
        margin-left: 10px;
    }

    .material-section {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .rumus-container {
        max-width: 400px;
        margin-left: 40px;
    }

    .text-background {
        width: 80%;
        margin-right: 35px;
    }

    .courses-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .course-card {
        width: 90%;
    }

    .login-container,
    .signup-form {
        width: 90%;
        padding: 20px;
    }

    .example-problems-section {
        padding: 20px 10px;
    }

    .problem-container {
        max-width: 90%;
    }

    .cta-btn {
        margin-bottom: 30px;
    }

    .nav-links {
        display: none;
    }

    .nav-links-mobile-only {
        display: flex;
        justify-content: flex-end;
    }

    .home-link {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        margin-right: 20px;
    }

    .home-link:hover {
        text-decoration: underline;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .btn-start,
    .cta-btn {
        font-size: 14px;
    }

    .below-header-text,
    .below-header-text1 {
        font-size: 16px;
    }

    input {
        padding: 8px;
    }

    button {
        font-size: 12px;
        padding: 10px 15px;
    }
}
